.grid {
    width: 400px;
    height: 600px;
    background-color: deepskyblue;
    position: relative;
    font-size: 200px;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin: 8% auto;
    padding-top: 2%;
}

.doodler {
    background-image: url('images/angry-bird.png');
    width: 85px;
    height: 85px;
    position: absolute;
}

.platform {
    background-image: url('images/clouds.svg');
    background-repeat: no-repeat;
    width: 125px;
    height: 75px;
    position: absolute;
}

.title {
    padding-top: -2%;
    padding-left: 5%;
    text-align: left;
    font-size: 25px;
}

.liveScore {
    margin-left: 60px;
}

.summary {
    margin-top: -13%;
    float: right;
    padding-right: 5%;
}

.highScore {
    margin-left: 75%;
}

@keyframes drift {
    from{transform: translateY(155px);}
    to{transform: translateY(850px);}
}