.grid {
    width: 400px;
    height: 600px;
    background-color: deepskyblue;
    position: relative;
    font-size: 200px;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin: 8% auto;
}

.doodler {
    background-image: url('images/angry-bird.png');
    width: 85px;
    height: 85px;
    position: absolute;
}

.platform {
    background-image: url('images/clouds.svg');
    width: 105px;
    height: 55px;
    position: absolute;
}