.grid {
    width: 400px;
    height: 600px;
    background-color: deepskyblue;
    position: relative;
    font-size: 200px;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin: 8% auto;
    padding-top: 2%;
}

.cloud-container {
    width: 400px;
    height: 600px;
    position: absolute;
    background: transparent url(images/clouds.svg) 0 0 no-repeat;
}

.fcloud01 {
    top: 0;
    left: 150px;
    z-index: 100;
    animation: drift 10s linear infinite;
    opacity: .75;
}

.fcloud02 {
    top: 200px;
    left: -150px
    z-index: 200;
    animation: drift 35s linear backwards;
    opacity: .5;
}

.fcloud03 {
    top: 250px;
    left: 75px;
    z-index: 300;
    animation: drift 45s linear infinite;
    opacity: .3;
}

.doodler {
    background-image: url('images/angry-bird.png');
    width: 85px;
    height: 85px;
    position: absolute;
}

.platform {
    background-image: url('images/clouds.svg');
    width: 105px;
    height: 55px;
    position: absolute;
}

.title {
    padding-top: -2%;
    padding-left: 5%;
    text-align: left;
    font-size: 25px;
}

.liveScore {
    margin-left: 60px;
}

.summary {
    margin-top: -13%;
    float: right;
    padding-right: 5%;
}

.highScore {
    margin-left: 75%;
}

@keyframes drift {
    from{transform: translateY(155px);}
    to{transform: translateY(850px);}
}